### **Question 1**

In [ ]:
# Empty List
my_list = []
# Loop to append elements
for i in range(1 , 4):
  my_list.append(i)
# Extend method to add more elements
my_list.extend([4, 5, 6])
# Remove method to remove element 2
my_list.remove(2)
print(my_list)

[1, 3, 4, 5, 6]

### **Question 2**

In [ ]:
# Create to sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}
# Union of set 1 and set 2
print("Union of both sets: ", set1.union(set2))
# Intersection
print("Intersection of both sets: ", set1.intersection(set2))
# print("Intersection of both sets: ", set1.intersection_update(set2))
# Add element to set 1
set1.add(6)
print(set1)

Union of both sets:  {1, 2, 3, 4, 5, 6}
Intersection of both sets:  set()
{1, 2, 3, 6}

### **Question 3**

In [ ]:
# Create a Tuple
my_tuple = ("a", "b", "c")
# Access second element of tuple
print("Tuple second element: ", my_tuple[1])

"""
    Change Tuple 1st value.
    Tuple is unchangeable datatype so, we have to convert it into
    List first than we can change its value
"""
tuple_to_list = list(my_tuple)
tuple_to_list[0] = "x"
my_tuple = tuple(tuple_to_list)
print("My tuple after changing: ", my_tuple)

Tuple second element:  b
My tuple after changing:  ('x', 'b', 'c')

### **Question 4**

In [ ]:
# Create a empty dictionary
my_dict = {}
# Add elements
my_dict.update({'name': 'John', 'age': 30, 'city': 'New York'})
print("Before getting poped: ", my_dict)
# Remove city
my_dict.popitem()
print("After getting poped: ", my_dict)
# Print key Using built-in method
print("Key() Method: ", my_dict.keys())
# Using loop to print keys
print("Itreating through my_dict:")
for key in my_dict:
  print(key)

Before getting poped:  {'name': 'John', 'age': 30, 'city': 'New York'}
After getting poped:  {'name': 'John', 'age': 30}
Key() Method:  dict_keys(['name', 'age'])
Itreating through my_dict:
name
age

### **Question 5**

In [ ]:
# Create Squares List
squares = []
# Adding squares
for i in range(1, 6):
  squares.append(i ** 2)
print("Squares of number 1 to 5:", squares)

# Using List Comprehension
squares = [i**2 for i in range(1, 6)]
print("Using List Comprehension:", squares)

# Create Even_Squares List
even_squares = []
for i in range(1, 11):
  if i%2 == 0:
    even_squares.append(i ** 2)
print("Even squares of numbers 1 to 10:", even_squares)

# Using List Comprehension
even_squares = [(i+1)**2 for i in range(1, 10)]
print("Using List Comprehension:", even_squares)

Squares of number 1 to 5: [1, 4, 9, 16, 25]
Using List Comprehension: [1, 4, 9, 16, 25]
Even squares of numbers 1 to 10: [4, 16, 36, 64, 100]
Using List Comprehension: [4, 9, 16, 25, 36, 49, 64, 81, 100]

### **Question 6**

In [ ]:
# Set Comprehension
even_set = {i for i in range(1, 11) if i%2==0}
print("Even Set using comprehension:", even_set)

Even Set using comprehension: {2, 4, 6, 8, 10}

### **Question 7**

In [ ]:
# Create Tuple
coordinates = (22.61690, 83.82838)
# Upacking
latitude, longitude = coordinates
print("Latitude: ", latitude)
print("Longitude:", longitude)

Latitude:  22.6169
Longitude: 83.82838

### **Question 8**

In [ ]:
#Create Dictionary
grades = {
    "Math" : 90,
    "Science" : 85,
    "English" : 88
}
print("Science grade: ",grades["Science"])
print("Science grade: ",grades.get("Science"))

Science grade:  85

### **Question 9**

In [ ]:
# Grades key and values
for grade in grades:
  print(grade, grades[grade])

Math 90
Science 85
English 88

### **Question 10**

In [ ]:
#Value update
grades.update({"Math":95})
print("After updation:", grades)

After updation: {'Math': 95, 'Science': 85, 'English': 88}